# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# config
*.la
*.lai
*.lo
*.soT
*.Plo
*.Po
*.lex.c
*.tab.c
*.tab.h

# log
*.log

# Makefile
Makefile

# Files
cli/src/.libs/gluster
cli/src/gluster
contrib/fuse-util/fusermount-glusterfs
extras/geo-rep/.libs/gsync-sync-gfid
extras/geo-rep/gsync-sync-gfid
geo-replication/src/.libs/gsyncd
geo-replication/src/gsyncd
glusterfsd/src/.libs/glusterfsd
glusterfsd/src/glusterfsd
heal/src/.libs/glfsheal
heal/src/glfsheal

# vim 
*.swp
